<section class="section">
    <div class="container col-md-4 col-10 offset-md-4 offset-1">
        <form>
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" placeholder="Enter login" value="test@test.com">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" value="testtest">
            </div>
            <button type="button" class="btn btn-primary submit">LogIn</button>
        </form>
    </div>
</section>